.menu-admin {
    position: relative;

    &__sideMenu {
        background-color: rgb(231, 230, 230);
        height: 100vh;
        position: absolute;
        width: 300px;
        transition: 0.5s;
    }

    &__closeSideMenu {
        background-color: rgb(231, 230, 230);
        height: 100vh;
        position: absolute;
        width: 14px;
        transition: 0.5s;
    }

    &__showMenu {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        position: absolute;
        right: -18px;
        top: 40%;
        border-radius: 100%;
        cursor: pointer;

        input[type="checkbox"] {
            display: none;
        }

        > label {
            font-size: 2rem;
            color: white;
            padding: 7px 15px;
        }   
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;

        > h1 {
            margin: 20px 15px;
        }
    }


    &__hideMenu {
        display: none;
    }

    &__actions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        a {
            text-decoration: none;
            color: black;
            padding: 6px 16px;
        }


        a:hover {
            text-decoration: underline;
        }
    }
   
}